<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')  %>

<body>
  <%- include('../partials/nav.ejs') %>
  <button onClick="changeMode()">Dark Mode</button>
  <h1>Home</h1>
  <%- include ('../partials/footer.ejs') %>
  <script src="/main.js"></script>
</body>

</html>
